{
  "swagger": "2.0",
  "info": {
    "description": "API de notícias.",
    "version": "1.0.0",
    "title": "News API",
    "contact": {
      "email": "apiteam@sistemanoticias.com.br"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.sistemanoticias.com.br",
  "basePath": "/news-api/v1",
  "tags": [
    {
      "name": "notícias",
      "description": "Notícias para todos os gostos."
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/categorias": {
      "get": {
        "tags": [
          "notícias"
        ],
        "summary": "Busca coleção de categorias",
        "description": "Busca todas as categorias da base de dados",
        "operationId": "buscaCategorias",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Categorias retornadas com sucesso",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Categoria"
              }
            }
          },
          "500": {
            "description": "Erro no servidor"
          }
        }
      }
    },
    "/categorias/{categoriaId}/noticias/{noticiaId}": {
      "get": {
        "tags": [
          "notícias"
        ],
        "summary": "Busca notícia por ID",
        "description": "Busca notícia por ID de acordo com sua categoria",
        "operationId": "buscaNoticia",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "categoriaId",
            "in": "path",
            "description": "Código da cateogria no banco de dados.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "noticiaId",
            "in": "path",
            "description": "Código da noticia no banco de dados.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Notícia retornada com sucesso",
            "schema": {
              "$ref": "#/definitions/Noticia"
            }
          },
          "404": {
            "description": "Notícia ou categoria não encontrada"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    }
  },
  "definitions": {
    "Categoria": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "nome": {
          "type": "string"
        }
      }
    },
    "Noticia": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "titulo": {
          "type": "string"
        },
        "conteudo": {
          "type": "string"
        }
      }
    }
  }
}